<h1>参加するイベント一覧</h1>
<% if @events.any? %>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <p><strong>場所:</strong> <%= event.location %></p>
            <p><strong>日にち:</strong> <%= event.date %></p>
            <p><strong>開始時間:</strong> <%= event.start_time %></p>
            <p><strong>終了時間:</strong> <%= event.end_time %></p>
            <p><strong>男性料金:</strong> ¥<%= event.mensprice %></p>
            <p><strong>女性料金:</strong> ¥<%= event.womansprice %></p>
            <p><strong>男性最大人数:</strong> <%= event.mensmax_participants %></p>
            <p><strong>女性最大人数:</strong> <%= event.womansmax_participants %></p>
            <p><strong>予約締め切り時間:</strong> <%= event.deadline_time %></p>
            <p><strong>:</strong> <%= event.memo %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>まだ参加しているイベントはありません。</p>
<% end %>