<% if events.any? %>
  <div class="row mt-2">
    <% events.each do |event| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Location: <%= event.location %></p>
            <p class="card-text">Date: <%= event.date %></p>
            <p class="card-text">Start Time: <%= event.start_time %></p>
            <p class="card-text">End Time: <%= event.end_time %></p>
            <p class="card-text">Mens Price: ¥<%= event.mensprice %></p>
            <p class="card-text">Womens Price: ¥<%= event.womansprice %></p>
            <p class="card-text">Mens Max Participants: <%= event.mensmax_participants %></p>
            <p class="card-text">Womens Max Participants: <%= event.womansmax_participants %></p>
            <p class="card-text">Reservation Deadline: <%= event.deadline_time %></p>
            <p class="card-text">Memo: <%= event.memo %></p>
            <%= link_to 'イベント詳細', event_path(event), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

