<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @event) do |f| %>
        <div class="mb-3">
          <%= f.label :location, "場所" %>
          <%= f.text_field :location, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :date, "日付" %>
          <%= f.date_field :date, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :start_time, "開始時間" %>
          <%= f.time_field :start_time, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :end_time, "終了時間" %>
          <%= f.time_field :end_time, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :mensprice, "男性料金" %>
          <%= f.number_field :mensprice, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :womansprice, "女性料金" %>
          <%= f.number_field :womansprice, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :mensmax_participants, "男性最大参加人数" %>
          <%= f.number_field :mensmax_participants, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :womansmax_participants, "女性最大参加人数" %>
          <%= f.number_field :womansmax_participants, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :deadline_time, "申し込み締め切り時間" %>
          <%= f.datetime_field :deadline_time, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :memo, "コメント" %>
          <%= f.text_area :memo, class: 'form-control', rows: 5 %>
        </div>

        <%= f.submit 'イベントを投稿', class: 'btn btn-primary w-100' %>
      <% end %>
    </aside>
  </div>
<% end %>
