<div class="card">
  <div class="card-body">
    <p><strong>場所:</strong><%= @event.location %></p>
    <p><strong>日付:</strong> <%= @event.date %></p>
    <p><strong>開始時間:</strong> <%= @event.start_time %></p>
    <p><strong>終了時間:</strong> <%= @event.end_time %></p>
    <p><strong>男性料金:</strong> ¥<%= @event.mensprice %></p>
    <p><strong>女性料金:</strong> ¥<%= @event.womansprice %></p>
    <p><strong>男性最大参加人数:</strong> <%= @event.mensmax_participants %>: 現在の参加予定者数 <%= @event_participants_mens.count %>人</p>
    <p><strong>女性最大参加人数:</strong> <%= @event.womansmax_participants %>: 現在の参加予定者数 <%= @event_participants_womens.count %>人</p>
    <p><strong>申し込み締め切り時間:</strong> <%= @event.deadline_time %></p>
    <p><strong>メモ:</strong> <%= @event.memo %></p>
  
    <% if current_user == @event.user  %>
      <%= link_to 'イベントを編集', edit_event_path(@event), class: 'btn btn-primary' %>
      <%= link_to 'イベントを削除', @event, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
    <% end %>
  </div>

  <h2 class="mt-2">参加者一覧</h2>

  <div class="row">
    <div class="col-md-6">
      <h3>男性</h3>
      <ul>
        <% if @event_participants_mens.present? %>
          <% @event_participants_mens.each do |user| %>
            <li><%= user.name %></li>
          <% end %>
        <% else %>
          <li>参加者はいません</li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-6">
      <h3>女性</h3>
      <ul>
        <% if @event_participants_womens.present? %>
          <% @event_participants_womens.each do |user| %>
            <li><%= user.name %></li>
          <% end %>
        <% else %>
          <li>参加者はいません</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% else %>
  <% if current_user.participanted?(@event) %>
    <%= link_to '不参加', unparticipant_event_path(@event), method: :delete, class: 'btn btn-danger mt-2' %>
  <% else %>
    <% if can_participate?(@event) %>
      <%= link_to '参加', participant_event_path(@event), method: :post, class: 'btn btn-success mt-2' %>
    <% else %>
      <p class="mt-2">申し込み期限を過ぎているか、現在<%= current_user.gender == 'Mens' ? '男性' : '女性' %>は満員となっていますので申し込みできません。</p>
    <% end %>
  <% end %>
<% end %>
</div>

